<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Curriculum Vitae</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-info">
    <div class="jumbotron">

        <h1 class="display-4"><p>Curriculum Vitae</p></h1>
        <p class="lead" th:text="${visitor}"></p>
        <hr class="my-h4">
        <h4><p><strong>Basic Information</strong></p></h4>
        <ol>
            <li>Name: Fia Smith</li>
            <li>Date of Birth: March 3, 1999</li>
            <li>Place of Birth: Brussels, Belgium</li>
            <li>Address: 79 The Vale Street</li>
        </ol>
        <hr class="my-h4">
        <h4><p><strong>Education History</strong></p></h4>
        <ul>
            <li>2017 - present        : University of Indonesia</li>
            <li>2016 - 2017           : GMIS Jakarta</li>
            <li>2012 - 2016           : Whitefield School, London</li>
        </ul>
        <hr class="my-h4">
        <h4><p><strong>About Me</strong></p></h4>
        <p>Hey there! I'm Fia. I'm currently a second-year Computer Science student at the University of Indonesia.
        I love playing hockey and I also make Youtube videos for my Youtube channel.</p>
    </div>
</body>
</html>
