<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="p-3 mb-2 bg-info">

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4"><p th:text="'Hello, ' + ${name} + '!'" /></h1>
        </div>
    </div>
    <!--<div class="card my-div" style="width:90%; position: absolute;" >-->
        <!--<div class="card-body list-group-item">-->
            <!--<h5 class="card-title"><p th:text="'Hello, ' + ${name} + '!'" /></h5>-->
        <!--</div>-->
    <!--</div>-->

</body>
</html>
