.tooltip-mine {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-mine .tooltip-mine-text {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    /* bottom: 125%;
    left: 50%;
    margin-left: -60px; */

    top: -5px;
    left: 125%;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-mine .tooltip-mine-text::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

.tooltip-mine:hover .tooltip-mine-text {
    visibility: visible;
    opacity: 1;
}